body{
    background: rgb(9,71,121);
    background: linear-gradient(36deg, rgba(9,71,121,0) 0%, rgba(0,212,255,0.19091386554621848) 83%);
}
h1,h2,p{
    font-family:Arial, Helvetica, sans-serif;
 
}
h1{
    font-size: 200%;
    color: rgb(19, 19, 226);
    background-color: yellow;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
 
}
h2{
    font-size:1.3em;
    margin-left:30px;
    margin-right:30px;
}
p{
    margin-left:30px;
    margin-right:30px;

}
img{
    width: 375px;
    height: 250px;
    border-radius: 5%;
    display:block;
    margin: 0 auto;
}